div {
  
        color: black;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        padding: 1em;
        width: 22%
        content: "";
        text-decoration: none;
        display: inline-block;
        margin: 50px 15px;
        padding: 10px 30px;
        font-family: 'PT Sans Caption', sans-serif;
        transition: .3s linear;
        position: relative;
        max-width: 17%

   }
#back1 {
    		background-image: url(../images/akadem2.jpg);
    		background-attachment: scroll;
    	}

#back2 {
    		background-image: url(../images/watercolor1.jpg);
    		background-attachment: scroll;
    	}

#back3 {
    		background-image: url(../images/sketch2.jpg);
            background-attachment: scroll;
    	}

#back4 {
    		background-image: url(../images/oilp.jpg);
            background-attachment: scroll;
    	}

@media screen and (max-width: 1280px) {
 .service_block {
    width: 40%;
    max-width: 40%
 }
}
@media screen and (max-width: 1024px) {
 .service_block {
    width: 70%;
        max-width: 70%
 }
}

body {
    text-align: center;
}

